# 데이터 로드

In [2]:
import numpy as np
import pandas as pd

In [9]:
amazon_review_origin = pd.read_excel('amazon_review.xlsx')

# 카피본 떠놓고 시작하기
amazon_review = amazon_review_origin.copy()
amazon_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8875 entries, 0 to 8874
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     8875 non-null   object
 1   제품명     8875 non-null   object
 2   작성일     8875 non-null   object
 3   별점      8875 non-null   int64
 4   제목      8409 non-null   object
 5   본문      8866 non-null   object
dtypes: int64(1), object(5)
memory usage: 416.1+ KB

In [4]:
costco_review_origin = pd.read_excel('costco_review.xlsx')

# 카피본 떠놓고 시작하기
costco_review = costco_review_origin.copy()
costco_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17673 entries, 0 to 17672
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     17673 non-null  object
 1   제품명     17673 non-null  object
 2   작성일     17673 non-null  object
 3   별점      17673 non-null  int64
 4   제목      16809 non-null  object
 5   본문      17663 non-null  object
dtypes: int64(1), object(5)
memory usage: 828.5+ KB

In [5]:
lowes_review_origin = pd.read_excel('lowes_review.xlsx')

# 카피본 떠놓고 시작하기
lowes_review = lowes_review_origin.copy()
lowes_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2157 entries, 0 to 2156
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     2157 non-null   object
 1   제품명     2157 non-null   object
 2   작성일     2157 non-null   datetime64[ns]
 3   별점      2157 non-null   int64
 4   제목      2052 non-null   object
 5   본문      2055 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 101.2+ KB

In [6]:
homedepot_review_origin = pd.read_excel('hd_review.xlsx')

# 카피본 떠놓고 시작하기
homedepot_review = homedepot_review_origin.copy()
homedepot_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1478 entries, 0 to 1477
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     1478 non-null   object
 1   제품명     1478 non-null   object
 2   작성일     1478 non-null   datetime64[ns]
 3   별점      1478 non-null   int64
 4   제목      1424 non-null   object
 5   본문      1425 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 69.4+ KB

In [7]:
build_review_origin = pd.read_excel('build.com_review.xlsx')

# 카피본 떠놓고 시작하기
build_review = build_review_origin.copy()
build_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3261 entries, 0 to 3260
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     3261 non-null   object
 1   제품명     3261 non-null   object
 2   작성일     3261 non-null   object
 3   별점      3261 non-null   int64
 4   제목      3257 non-null   object
 5   본문      3261 non-null   object
dtypes: int64(1), object(5)
memory usage: 153.0+ KB

In [8]:
walmart_review_origin = pd.read_excel('walmart_review.xlsx')

# 카피본 떠놓고 시작하기
walmart_review = walmart_review_origin.copy()
walmart_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     2401 non-null   object
 1   제품명     2401 non-null   object
 2   작성일     2401 non-null   datetime64[ns]
 3   별점      2401 non-null   int64
 4   제목      2316 non-null   object
 5   본문      2320 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 112.7+ KB

# 데이터 통합