# 데이터 로드

In [14]:
import numpy as np
import pandas as pd

In [15]:
bidet_train = pd.read_excel('../02. Train_Test Data/bidet_train_data.xlsx')
print(bidet_train.shape)
bidet_train.head()

(11000, 2)

   label                                               text
0      1  Once You've Tried, You'll Never Go Back!!.This...
1      1  Love it, easy to use, warm seat and lots of be...
2      1  Simple to operate simple to install..Simple an...
3      1                          good item.easy to install
4      0  BioBidet Broke Right After Warranty Expiration...

In [16]:
bidet_test = pd.read_excel('../02. Train_Test Data/bidet_test_data.xlsx')
print(bidet_test.shape)
bidet_test.head()

(13090, 2)

   label                                               text
0      1  Gives Toto a run for your money..Excellent sol...
1      1  Amazing.After owning the Bio Bidet. I can’t se...
2      1               Warning - looong review.Installation
3      1  Life changing!.We originally purchased this un...
4      1     A wonderful addition to our house! .I have ...

In [17]:
open_train = pd.read_excel('../01-2. Raw Data (Open)/open_train_data.xlsx')
print(open_train.shape)
open_train.head()

(39000, 2)

   label                                               text
0      1  Awesome Movie: The Cheetah Girls was a great m...
1      0  Not what I expect from Dean Koontz: I wish Dea...
2      0  Not loud enough for use in a crowd.: This prod...
3      0  Not Again: I used to be a huge Hanson fan, so ...
4      1  What a Blessing {even as an adult): So, I admi...

In [18]:
open_test = pd.read_excel('../01-2. Raw Data (Open)/open_test_data.xlsx')
print(open_test.shape)
open_test.head()

(36905, 2)

   label                                               text
0      1  Scary: Great show, but last season was much mo...
1      0  It will break!: The flash flood certainly has ...
2      0  Disappointed: I couldn't wait to get these can...
3      0  Does not ring true!: Mineko Iwasaki paints her...
4      0  ABSOLUTELY HORRIBLE - Don't Buy It: I ordered ...

# 데이터 통합

In [19]:
combined_train = pd.concat([bidet_train, open_train], ignore_index=True).sample(frac=1, random_state=2503)
combined_train.shape

(50000, 2)

In [20]:
combined_test = pd.concat([bidet_test, open_test], ignore_index=True).sample(frac=1, random_state=2503)
combined_test.shape

(49995, 2)

In [21]:
combined_train['text'].duplicated().sum()

0

In [22]:
combined_test['text'].duplicated().sum()

0

In [23]:
combined_train.groupby('label').count()

        text
label
0      25000
1      25000

In [24]:
combined_test.groupby('label').count()

        text
label
0      25003
1      24992

# 파일 저장

In [25]:
combined_train.to_excel('train.xlsx', index=False)

In [26]:
combined_test.to_excel('test.xlsx', index=False)